.blog-news-page {
  background: #f9f9f9;
  box-sizing: border-box;

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: left;
  }

  &__button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #888686;

    &:hover {
      color: #656262;
      cursor: pointer;
    }
  }

  &__part {

    &_left {
      padding: 180px 0 0 220px;
    }
  }

  &__header {
    margin-bottom: 80px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 42.52px;
    letter-spacing: 0.96px;
  }

  &__text {
    width: 624px;
    color: #050505;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: justify;
  }

  &__img {

    & img {
      width: 688px;
    }
  }
}

@media (max-width: 1824px) {
  .blog-news-page {

    &__button {
      top: 20px;
      left: 20px;
    }

    &__part {

      &_left {
        padding: 120px 0 0 140px;
      }
    }

    &__header {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 32px;
    }

    &__text {
      width: 424px;
      font-size: 16px;
      line-height: 22px;
    }

    &__img {
      & img {
        width: 428px;
      }
    }
  }
}

@media (max-width: 1224px) {
  .blog-news-page {

    &__content {
      flex-direction: column-reverse;
    }

    &__button {
      top: 20px;
      left: 20px;
    }

    &__part {

      &_left {
        padding: 70px 0 0 0;
        text-align: center;
      }
    }

    &__header {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 32px;
    }

    &__text {
      width: 680px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 22px;
    }

    &__img {
      padding-top: 60px;
      text-align: center;

      & img {
        width: 680px;
      }
    }
  }
}

@media (max-width: 768px) {
  .blog-news-page {

    &__part {

      &_left {
        padding: 70px 0 0 0;
        text-align: center;
      }
    }

    &__header {
      margin-bottom: 40px;
      font-size: 14px;
      line-height: 22px;
    }

    &__text {
      width: 300px;
      font-size: 12px;
      line-height: 18px;
    }

    &__img {

      & img {
        width: 300px;
      }
    }
  }
}
