.blog {
  padding-top: 120px;
  padding-left: 40px;
  background: #f9f9f9;

  &_hide {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__col {
    width: 360px;
    margin-right: 40px;

    &:nth-child(3) {
      width: 460px;
    }
  }

  &__item {
    margin-bottom: 30px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0.1;
      cursor: pointer;
    }

    &-img {

      & img {
        width: 100%;
        box-shadow: 0 10px 8px -4px rgba(0, 0, 0, 0.4);
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.9);
      font-size: 16px;
    }

    &-date {
      margin-right: 10px;
    }
  }
}

@media (max-width: 1824px) {
  .blog {
    padding-top: 100px;
    padding-left: 20px;

    &__col {
      width: 240px;
      margin-right: 20px;

      &:nth-child(3) {
        width: 320px;
      }
    }

    &__item-info {
      font-size: 12px;
    }
  }
}

@media (max-width: 1024px) {
  .blog {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .blog {
    padding-top:20px;
    padding-left: 0;

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      width: 300px;
      margin-right: 0;

      &:nth-child(3) {
        width: 300px;
      }
    }

    &__item-info {
      font-size: 14px;
    }
  }
}
