.menu {

  &__items {
    display: flex;
  }

  &__item {
    padding: 2px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    margin-right: 25px;
    text-decoration: none;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }
  }

  &__burger-icon {
    font-size: 12px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }
  }
}

@media (max-width: 1824px) {
  .menu {
    &__item {
      font-size: 12px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1224px) {
  .menu {
    &__item {
      font-size: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .menu {
    &__item {
      font-size: 8px;
      margin-right: 8px;
    }
  }
}

@media (max-width: 768px) {
  .menu {

    &__items {
      display: none;
    }

    &__item {
      padding: 10px;
      background-color: #fff;
      border-bottom: 1px solid rgba(73, 71, 71, 0.3);
      font-size: 12px;
      text-align: left;
    }

    &__open {
      display: block;
      position: absolute;
      top: 30px;
      right: -10px;
      left: 0;
      margin: 0 10px;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
